//output: index.html
html
    head
    
        title Shpresa AL Group | Kryefaqja
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,700")
        
    body
        nav
            //.wrapper
            .left
                img(src="images/logo2.png", alt="Shpresa AL Group")
            .right
                a(href="biznesi.html") Biznesi
                a(href="kompania.html") Kompania
                a(href="sherbimet.html") Sh&euml;rbimet
                a(href="kontakt.html") Kontakt
                
        .card-wrapper
            a(href="")
                .card
                    h3 Shpresa-AL Computer
                    img(src="images/gif1.gif", alt="")
            a(href="")
                .card
                    h3 Shpresa-AL Security
                    img(src="images/SecurityFoto.jpg", alt="")
            a(href="")
                .card
                    h3 Restorant Shpresa
                    img(src="http://www.arbsecurity.com/images/clients/shpresa_al.png", alt="")
            a(href="")
                .card
                    h3 Transport Urban
                    img(src="http://www.arbsecurity.com/images/clients/shpresa_al.png", alt="")
            a(href="")
                .card
                    h3 Nd&euml;rtim
                    img(src="", alt="")
            a(href="")
                .card
                    h3 Gurore
                    img(src="", alt="")
            a(href="")
                .card
                    h3 Sh&euml;rbim Karrotreci
                    img(src="", alt="")
            a(href="")
                .card
                    h3 Servis Automjetesh
                    img(src="", alt="")
                
        
    
