.nav li {
  display: inline;
}

.jumbotron3 {

  background-image:url('http://i.imgur.com/VUvxqIl.png');
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  background-image:url('http://i.imgur.com/lOVqQ2a.jpg');
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  margin: 0 0 0 0;
  width: 400px;
  height: 240px;
  position: relative;
  padding: 300px 20px 20px 550px;
}

#rreth-nesh-logo {
  position: relative;
  top: 265px;
  left: -70px;

}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.permbledhje h2 {

  font-size: 24px;
  color: #393c3d;
  
}

.permbledhje p {
    font-size: 15px;
    margin-bottom: 13px;
}

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

footer a {
  color: #5a5a5a;
  font-size: 14px;
  padding: 14px 10px;
  text-transform: uppercase;
}

footer a:hover {
  color: #5a5a5a;
  font-size: 14px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
  text-decoration: none;
}

.kontakt-info {
  background-color: white;
  border-bottom: 1px solid #dbdbdb;
  padding: 20px;
  margin: auto;
  text-align: center;
  width: 300px;
  height: 300px;
}

#kontakt-info {
  background-color: white;
  border-bottom: 1px solid #dbdbdb;
  border: 1px solid #dbdbdb;
  padding: 20px;
  margin: auto;
  text-align: center;
  width: 300px;
  height: 300px;
}

.inline div {

position: inline;

}

span {

  font-weight: bold;
  font-size: 18px;
  color: #003366;
}

#permbledhje {

  padding: 10px 10px 7px 10px;

}

#FiltratBlu {

  padding: 10px 0px 40px 0px;

}

#products {

position: relative;
top: 20px;

}

td {

padding: 15px;

}

.products  {

border: 2px solid #B0B0B0;
border-radius: 30px;

}

th {

  border-bottom: 1px solid #bdbdbd;
  font-weight: bold;
  font-size: 18px;
  color: #003366;

}

.products img:hover {
  
 opacity: 0.3;
 filter: alpha(opacity=100);

}

.TD1 {
  text-align: center;
  width: 400px;
  height: 300px;
  position: absolute;
  left: 215px;
  top: 710px;
  z-index: -1;

}

.TD2 {
  text-align: center;
  width: 400px;
  height: 300px;
  position: absolute;
  left: 655px;
  top: 710px;
  z-index: -1;

}

.TD3 {
  text-align: center;
  width: 400px;
  height: 300px;
  position: absolute;
  left: 215px;
  top: 1050px;
  z-index: -1;

}

.TD4 {
  text-align: center;
  width: 400px;
  height: 300px;
  position: absolute;
  left: 655px;
  top: 1050px;
  z-index: -1;

}


.TD5 {
  text-align: center;
  width: 400px;
  height: 300px;
  position: absolute;
  left: 215px;
  top: 1390px;
  z-index: -1;

}


.TD6 {
  text-align: center;
  width: 400px;
  height: 300px;
  position: absolute;
  left: 655px;
  top: 1390px;
  z-index: -1;

}

.yolo {

  border-bottom: 1px solid #bdbdbd;
  font-weight: bold;
  font-size: 24px;
  color: #003366;
  text-transform: uppercase;
}

#rreth-nesh-table {

  border: 1px solid #dbdbdb;
  border-radius: 15px;
  background-size: cover;
}
