html
    head
        title DASTER (jade)
        link(href='/dist/main.css', rel='stylesheet')
    body
        //div.header-wrapper    
                .title DASTER TECH
        sector.main-wrapper
            .filler 
            .background
                img.image(src="../img/DesktopShape.svg")
                p.cmd-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, quae itaque. Repudiandae, asperiores voluptate ipsa amet autem molestiae, odit fugit odio a consequuntur animi. Sed omnis quibusdam a laudantium vero!
        sector.services-wrapper
            div.left
            div.right
        sector.about-us-wrapper
            div.stivi
            div.dailani
            div.erisa
        sector.contact-wrapper
